.container_tag {
    background-color: royalblue;
    min-height: 180px;
    width: 15%;
    max-width: 3.2rem;
    float: left;
    position: relative;
    box-shadow: 4px 4px 4px #cccccc;
}

.tag {
    position: absolute;
    padding: 10rem;
    top: 50%;
    left: 50%;
    transform: translateX(-51%) translateY(-50%) rotate(-90deg)
}

.container_box {
    background-color: #e3e0f3;
    min-height: 180px;
    border-left: 6px solid #ffffff;
    width: 85%;
    position: relative;
    float: left;
    box-shadow: 4px 4px 4px #cccccc;
}

@media (min-width:768px) {
    .container_box {
        width: calc(100% - 3.2rem);
    }
}
.side_feedback{
    background-color:rgb(123, 123, 245);
    padding: 10px;
    height: 300px;
    width: 200px;
    border-radius: 10%;
    margin-left: 17px;
    box-shadow: 4px 4px 4px #cccccc;
}
.side_projectfil{
    background-color:rgb(123, 123, 245);
    padding: 10px;
    height: 180px;
    width: 200px;
    border-radius: 10%;
    margin-left: 17px;
    margin-top: 5.8rem;
    box-shadow: 0px 2px 4px #cccccc;
}
.easyskill_button{
    box-shadow:inset 0px -3px 7px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:3px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:45px 30px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    width: 12rem;
    text-align: center;
}
.easyskill_button:hover {
    background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.easyskill_button:active {
	position:relative;
    top:1px;
}

.medskill_button{
    box-shadow:inset 0px -3px 7px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #f7dc65 100%);
	background-color:#ffec64;
	border-radius:3px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:20px;
	padding:45px 30px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    width: 12rem;
    text-align: center;
}
.medskill_button:hover {
    background:linear-gradient(to bottom, #f7dc65 5%, #ffec64 100%);
	background-color:#ffab23;
}
.medskill_button:active {
	position:relative;
    top:1px;
}

.hardskill_button{
    box-shadow:inset 0px -3px 7px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:3px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:45px 30px;
	text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    width: 12rem;
    text-align: center;
}
.hardskill_button:hover {
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.hardskill_button:active {
	position:relative;
    top:1px;
}

.projects_button {
	box-shadow:inset 0px -3px 7px 0px #5b84b1ff;
	background:linear-gradient(to bottom, #fc766aff 5%, #5b84b1ff 100%);
	background-color:#fc766aff;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:45px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    width: 12rem;
    text-align: center;
}
.projects_button:hover {
	background:linear-gradient(to bottom, #5b84b1ff 5%, #fc766aff 100%);
	background-color:#fc766aff;
}
.projects_button:active {
	position:relative;
	top:1px;
}
.exercises_button {
	box-shadow:inset 0px -3px 7px 0px #FCF6F5FF;
	background:linear-gradient(to bottom, #2BAE66FF 5%, #FCF6F5FF 100%);
	background-color: #FCF6F5FF;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:20px;
	padding:45px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    width: 12rem;
    text-align: center;
}
.exercises_button:hover {
	background:linear-gradient(to bottom, #FCF6F5FF 5%, #2BAE66FF 100%);
	background-color:#2BAE66FF;
}
.exercises_button:active {
	position:relative;
	top:1px;
}
.skill_button {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:45px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    width: 12rem;
    text-align: center;
}
.skill_button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.skill_button:active {
	position:relative;
	top:1px;
}
#text1, #text2, #text3, #text4 {
    opacity: 0;
}
.info_box{
    justify-content: space-evenly;
    text-align: center;
}
.info_box img{
    width: 15rem;
}
.usfr_box{
    width: 12rem;
    height: 8rem;
    border: solid 2px black;
    align-self: right;
}
/* filter */
.filterDiv {
    display: none; 
}
.show {
    display: block;
}
.btn{
    border-radius: 5px;
    outline: none;
    padding: 12px 20px;
    background-color: transparent;
    cursor: pointer;
}
.btn:hover {
    background-color: black;
    color: white;
}
.btn.active {
    background-image: red;
    color:#f8f9fa;
}
.show{
    display: inline-block;
}
.feedback_box{
     height: 75px;
     width: 135px; 
     margin: 3px 18px;
     padding: 9px;
     border: solid 2px black;
     text-align: center;
     border-radius: 5%;
     background-color: ivory;
     box-shadow: 4px 4px 4px black;
}

.feedback_box_expert{
    height: 170px;
    width: 160px; 
    margin: 25px 7px;
    padding: 9px;
    border: solid 2px black;
    text-align: center;
    border-radius: 5%;
    background-color: ivory;
    box-shadow: 4px 4px 4px black;
 }
 .ex_container_box {
    background-color: #e3e0f3;
    min-height: 180px;
    border: 2px solid black;
    width: 85%;
    position: relative;
    float: left;
    box-shadow: 4px 4px 4px #cccccc;
}
.image_box img{
    border-radius: 50%;
}
.responsive{
    max-width: 100%;
    height: 65%;
    padding: 25px 0px 10px 0px;
}
.image_box{
    text-align: center;
}
.image_box h5{
    margin-top: 1.5px;
}
.image_box p{
    font-size: 0.75rem;
    margin: 1px;
}
.ex_info_box{
    text-align: center;
    font-size: 1.2rem;
}
.ex_tag{
    font-size: 0.99rem;
}
.ex_info_box h3{
    color: red;
    font-weight: bolder;
}

